USE [master]
GO
/****** Object:  Database [MyArtBD]    Script Date: 22/9/2022 20:36:42 ******/
CREATE DATABASE [MyArtBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyArtBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\MyArtBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyArtBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\MyArtBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyArtBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyArtBD]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 22/9/2022 20:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[text] [varchar](max) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[fkUser] [int] NOT NULL,
	[fkPublication] [int] NOT NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Follows]    Script Date: 22/9/2022 20:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Follows](
	[fkUser] [int] NOT NULL,
	[followed] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LikeOrDislike]    Script Date: 22/9/2022 20:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LikeOrDislike](
	[fkUser] [int] NOT NULL,
	[fkPublication] [int] NOT NULL,
	[stateLike] [bit] NOT NULL,
	[stateDislike] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publication]    Script Date: 22/9/2022 20:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publication](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[image] [varchar](255) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[fkUser] [int] NOT NULL,
	[description] [varchar](max) NULL,
 CONSTRAINT [PK_Publication] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 22/9/2022 20:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[lastName] [varchar](50) NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[cellphone] [varchar](50) NULL,
	[mail] [varchar](50) NOT NULL,
	[description] [text] NULL,
	[profilePicture] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[premium] [bit] NOT NULL,
	[occupation] [varchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([Id], [text], [created_at], [fkUser], [fkPublication]) VALUES (1, N'comentario1', CAST(N'2022-06-19T13:53:42.000' AS DateTime), 2, 9)
INSERT [dbo].[Comment] ([Id], [text], [created_at], [fkUser], [fkPublication]) VALUES (3, N'comentario2', CAST(N'2022-06-19T16:52:28.000' AS DateTime), 1, 2)
INSERT [dbo].[Comment] ([Id], [text], [created_at], [fkUser], [fkPublication]) VALUES (4, N'comentario3', CAST(N'2022-06-19T15:22:52.000' AS DateTime), 5, 7)
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
INSERT [dbo].[Follows] ([fkUser], [followed]) VALUES (5, 1)
INSERT [dbo].[Follows] ([fkUser], [followed]) VALUES (5, 2)
INSERT [dbo].[Follows] ([fkUser], [followed]) VALUES (5, 7)
GO
INSERT [dbo].[LikeOrDislike] ([fkUser], [fkPublication], [stateLike], [stateDislike]) VALUES (8, 7, 1, 0)
INSERT [dbo].[LikeOrDislike] ([fkUser], [fkPublication], [stateLike], [stateDislike]) VALUES (8, 13, 0, 1)
INSERT [dbo].[LikeOrDislike] ([fkUser], [fkPublication], [stateLike], [stateDislike]) VALUES (8, 14, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Publication] ON 

INSERT [dbo].[Publication] ([Id], [name], [image], [created_at], [fkUser], [description]) VALUES (2, N'imagen1', N'https://design4users.com/wp-content/uploads/2021/03/digital-art-andrey-prokopenko-illustration.png.pagespeed.ce.U3_BJ-DAzE.png', CAST(N'2022-06-19T15:22:52.000' AS DateTime), 3, N'descripcion1')
INSERT [dbo].[Publication] ([Id], [name], [image], [created_at], [fkUser], [description]) VALUES (7, N'imagen3', N'https://i.imgur.com/oj8s2m2.jpg', CAST(N'2022-06-19T15:26:49.000' AS DateTime), 8, N'descripcion2')
INSERT [dbo].[Publication] ([Id], [name], [image], [created_at], [fkUser], [description]) VALUES (9, N'imagen4', N'https://pbs.twimg.com/media/D5fVzmeXoAQeXYm.jpg', CAST(N'2022-06-19T15:22:52.000' AS DateTime), 2, N'descripcion3')
SET IDENTITY_INSERT [dbo].[Publication] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [name], [lastName], [username], [password], [cellphone], [mail], [description], [profilePicture], [created_at], [premium], [occupation]) VALUES (1, N'Anabella_5', N'apellido1A', N'usuario1A', N'contraseña1A', N'cellphone1A', N'ejemplo1A@gmail.com', N'Hermoso trabajo que llevó muchísimo tiempo y dedicación!', N'https://i.imgur.com/1gfmfEw.jpg', CAST(N'2022-06-19T15:22:52.000' AS DateTime), 1, N'Diseñador')
INSERT [dbo].[User] ([Id], [name], [lastName], [username], [password], [cellphone], [mail], [description], [profilePicture], [created_at], [premium], [occupation]) VALUES (2, N'Caitlyn_2', N'apellido2', N'usuario2', N'contraseña2', N'cellphone2', N'ejemplo2@gmail.com', N'Hermoso trabajo que llevó muchísimo tiempo y dedicación!', N'https://i.imgur.com/1gfmfEw.jpg', CAST(N'2022-06-19T15:22:52.000' AS DateTime), 1, N'Diseñador')
INSERT [dbo].[User] ([Id], [name], [lastName], [username], [password], [cellphone], [mail], [description], [profilePicture], [created_at], [premium], [occupation]) VALUES (3, N'Vicky_3', N'apellido3', N'usuario3', N'contraseña3', N'cellphone3', N'ejemplo3@gmail.com', N'Hermoso trabajo que llevó muchísimo tiempo y dedicación!', N'https://i.imgur.com/1gfmfEw.jpg', CAST(N'2022-06-19T15:26:49.000' AS DateTime), 0, N'Diseñador')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Publication] FOREIGN KEY([fkPublication])
REFERENCES [dbo].[Publication] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Publication]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_User] FOREIGN KEY([fkUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_User]
GO
ALTER TABLE [dbo].[Follows]  WITH CHECK ADD  CONSTRAINT [FK_Follows_User] FOREIGN KEY([fkUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Follows] CHECK CONSTRAINT [FK_Follows_User]
GO
ALTER TABLE [dbo].[Follows]  WITH CHECK ADD  CONSTRAINT [FK_Follows_User1] FOREIGN KEY([followed])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Follows] CHECK CONSTRAINT [FK_Follows_User1]
GO
ALTER TABLE [dbo].[LikeOrDislike]  WITH CHECK ADD  CONSTRAINT [FK_LikeOrDislike_Publication] FOREIGN KEY([fkPublication])
REFERENCES [dbo].[Publication] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LikeOrDislike] CHECK CONSTRAINT [FK_LikeOrDislike_Publication]
GO
ALTER TABLE [dbo].[LikeOrDislike]  WITH CHECK ADD  CONSTRAINT [FK_LikeOrDislike_User] FOREIGN KEY([fkUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[LikeOrDislike] CHECK CONSTRAINT [FK_LikeOrDislike_User]
GO
ALTER TABLE [dbo].[Publication]  WITH CHECK ADD  CONSTRAINT [FK_Publication_User] FOREIGN KEY([fkUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Publication] CHECK CONSTRAINT [FK_Publication_User]
GO
USE [master]
GO
